<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <button class="nav-link btn "  (click)="switchCaptchaType('Textual')">Textual Captcha </button>
    </li>
    <li class="nav-item">
      <button class="nav-link btn "  (click)="switchCaptchaType('WhatsUp')" >What's Up Captcha </button>
    </li>
  </ul>

</nav>

<textual-captcha *ngIf="isTextual"></textual-captcha>
<whatsup-captcha *ngIf="!isTextual"></whatsup-captcha>