<div class="container">
  <div class="captcha-container">
    <div class="captcha-status">
      <div [class.hide]="!showAlert" class="alert {{ alertClass }}" role="alert">
        {{ alertMessage }}
      </div>
    </div>
    <div class="eu-captcha">
      <h2>{{ title }}</h2>

      <div class="row">
        <form [formGroup]="captchaForm">
          <select formControlName="language" #language (change)="onChange(language.value)">
            <option [ngValue]="null" disabled>Select Language</option>
            <option *ngFor="let lang of captchaLang" [value]="[lang.id]">
              {{ lang.name }}
            </option>
          </select>
        </form>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="" col-md-8>
          <label for="capitalized"> Capitalized</label>
          <input #capitalizedRef (change)="capitalizedChange(capitalizedRef.value)" [formControl]="capitalized" type="checkbox" id="capitalized" />
        </div>
      </div>
      <div class="row">
        <img src="{{ captchaImage }}" alt="" />
      </div>
      <div class="row audio">
        <audio controls autostart="1" [src]="audioCaptcha" id="audioCaptcha" onplay="onPlayAudio()"></audio>
      </div>
      <div class="captcha-input">
        <div class="row">
          <input type="text" [(ngModel)]="answer" class="form-control" />
        </div>

        <div class="row">
          <button (click)="onValidate()" class="btn btn-success validate">
            validate
          </button>
          <button (click)="onReload()" class="btn btn-success reload">
            reload <em class="fa fa-refresh"></em>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>