.table td{
outline: none;
border-top : none;
border-style: none;
border-top : none;
}
.table tr{
outline: none;
border-top : none;
border-style: none;
border-top : none;
}
.error {
color: red;
}

body, html {
height: 100%;
margin: 0;
}

/*.bg {
/* The image used  
background-image: url("https://ak3.picdn.net/shutterstock/videos/21981463/thumb/1.jpg");*/

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}